/* .body{
    background-color: rgb(156, 63, 156);
} */

.profile img{
    float: left;
    height: 150px;
    width: 150px;
    margin-left: 400px;
    margin-top: 70px;
    border-radius: 100px;
}

.details{
    float: left;
    margin-top: 70px;
    margin-left: 100px;
    text-align: left;
    display: inline;

}

.details label{
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
}







