circle {
  height: 30;
  width: 30;
}

option{
  font-size: large;
}
.auto{
  margin-left: 500px;
  margin-top: 30px;
  font-size: large;
  font-weight: bold;
}

input{
  height: 20px;
}

.auto button{
  tab-size: 30px;
  color: white;
  background-color: red;
  border-color: white;
  height: 30px;
  width: 60px;
  font-size: medium;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
